[push]
        default = current
[user]
	name = Joel Zimmer
	email = joel.zimmer@gmail.com

# Colours make it easy to see conflicts, changes and index state a lot easier
[color]
all           = auto
pager         = true
diff          = auto
interactive   = auto
status        = auto
branch        = true
task          = true
wtf           = true

[color "status"]
branch        = green

[color "diff"]
plain        = normal
meta         = green
frag         = yellow
old          = magenta
new          = cyan
commit       = yellow bold
whitespace   = reverse black

[alias]
s   = status
co  = checkout
fix = commit --amend -C HEAD
wc  = whatchanged
b   = branch -vv
